.bg-primary {
    background-color: white!important;
}
header{
    height:100vh;
    background-image: url("../assets/baner.jpg");
    background-position: center;
    background-size: cover;
}

nav{
    background: transparent;
    border-bottom: 2px solid white;
}

header button{
    background:transparent;
    border: 2px solid white;
    color:white;
    padding: 5px;
    font-size: 26px;
    
}

.card img{
    height: 180px;
}

#reservation{
    
    background-image: url("../assets/reservation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#reservation h1{
    color: white;
}

#reservation label{
    font-weight: bold;
}

#rent{
    
    background-image: url("../assets/reservation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#rent h1{
    color: white;
}

#rent label{
    font-weight: bold;
}


nav li{
    cursor: pointer;
}

header button:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(0, 0, 0, 0.5)
}

#up-button{
    display:none;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 88;
    outline: none;
    border:none;
    background-color: transparent;
    background-image: url('../assets/up-arrow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

html, body{
    overflow-x: hidden;
}